//COLORES

$primary: #5265E1;
$secondary: #FA5959;
$light: #ededed;
$gray: rgba(0, 0, 0, 0.5);

//CONTENEDORES

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1140px,
);

.container-fluid {
  padding: 0% !important;
}

.caja {
  @media (max-width: 460px) {
    height: 300px;
  }

  @media (min-width: 461px) {
    height: 400px;
  }

  @media (min-width: 561px) {
    height: 450px;
  }
}

.caja-boton {
  border-top: 6px dotted $light !important;
}

.caja-medio {
  @media (max-width: 990px) {
    width: 100vw !important;
  }

  @media (min-width: 991px) {
    width: 50vw;
  }
}

//FONTS
$peque単a: 0.8rem;
$base: 18px;
$grande: 3rem;

$w-fino: 400;
$w-grueso: 600;

$font-size-root: $base;

$headings-font-weight: $w-grueso;
$h1-font-size: $grande;

p{
  color: $gray;
}

//FIGURAS

.forma {
  width: 900px;
  z-index: -100;

}
.forma-1 {
  @extend .forma;
  top: 25%;
  left: 30%;
}
.forma-2 {
  @extend .forma;
  top: 20%;
  right: 25%;
}

//NAVBAR - TAB

$nav-link-font-weight: $w-fino;
$nav-link-color: $gray;
$nav-link-hover-color: black;

$nav-tabs-border-width: 0px;
$nav-tabs-link-active-color: black;

.navbar-nav {
  font-size: $peque単a;
}

.nav-tabs {
  &.active {
    color: black;
  }

  .nav-link {
    border-bottom: 1px solid $light !important;
    border-radius: 0px !important;

    &.active {
      box-shadow: inset 0 -3px 0  $secondary !important;
      border-bottom: 1px solid $secondary !important;
    }
    &:hover {
      box-shadow: inset 0 -3px 0 $secondary !important;
      border-bottom: 1px solid $secondary !important;
    }
  }

  .nav-1 { 
    @media (max-width: 990px) {
      border-top: 1px solid $light !important;
    }
  }
}

//BOTONES


.btn {
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.185);

  @media (max-width: 560px) {
    font: {
      size: $base !important;
      weight: $w-grueso !important;
    }
  }

  @media (min-width: 561px) {
    font: {
      size: $peque単a !important;
      weight: $w-grueso !important;
    }
  }
}

.btn-light{
  color: $gray !important;
}

.navbar-nav {
  .btn {
    font: {
      size: $peque単a;
      weight: $w-fino;
    }
  }
}

//CARDS

.card {
  @media (max-width: 990px) {
    width: 100vw;
  }

  @media (min-width: 991px) {
    width: 16rem;
  }
}

//FAQs

$accordion-button-icon: url('../Imagenes/icon-arrow.svg');



@import '../node_modules/bootstrap/scss/functions';
@import '../node_modules/bootstrap/scss/variables';
@import '../node_modules/bootstrap/scss/mixins';

$custom-spacers: (
  6: $spacer * 8
);

$spacers: map-merge($spacers, $custom-spacers);

@for $i from 1 through 20{
  .col-#{$i} {
    padding: 0% !important;
  }
};

@import "../node_modules/bootstrap/scss/bootstrap";